.shell {
    border: 15px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    width: fit-content;
    margin: 100px auto 20px auto;
    padding: 0px 20px 15px 20px;
    border-radius: 8px;
    background-color: rgb(255, 236, 22);
}
.calc-container {
    display: flex;
} 
.btn-optr {
    background-color: rgba(8, 4, 4, 0.722);
    color: white;
}
.operator-section {
    display: flex;
    flex-direction: column;
}
.screen {
    display: flex;
    border: 3px solid black;
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 15px;
    justify-content: right;
    align-items: center;
    background-color: rgba(236, 230, 230, 0.285);
    font-size: 35px;
    background-color: rgb(170, 206, 238);
}
.numbers-area {
    display: flex;
    flex-direction: column;
}
.numpad {
    padding: 30px;
    margin: 3px;
    font-size: 20px;
}
button {
    border-radius: 8px;

}
button:hover {
    background-color: rgb(170, 206, 238);
}
.btn-num {
    background-color: antiquewhite;
    border-radius: 30px;
}