.shell {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    width: fit-content;
    margin: 100px auto 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 10px;
}

.calc-container {
    display: flex;
}

.num-top, .num-mid, .num-bot, .zero-period-equal {
    display: flex;   
    justify-content: center;
    align-items: center;
    
}

.btn-num, .btn-optr {
    padding: 30px;
    margin: 3px;
    font-size: 25px;
}

.btn-optr {
    background-color: gray;
    color: white;
}

.operator-section {
    display: flex;
    flex-direction: column;
}

.screen {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
    margin: 3px;
    justify-content: right;
    align-items: center;
    background-color: rgba(236, 230, 230, 0.285);
    font-weight: 500;
    font-size: 35px;
}
.btn-area {
    display: flex;
    flex-direction: column;
}

.numpad, .operators {
    padding: 2px;
}

.bot {
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

button {
    border-radius: 8px;

}